/* -------------------------------------------------
            general for the page
------------------------------------------------- */
* { box-sizing: border-box; }
:root {
    --dark-brown: #1b1717;
    --dark-bordeaux: #630000;
    --bright: #eeebdd;
    --bright-bordeaux: #810000;
}
.noSelect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
html {
    min-width: 1000px;
}
body {
    font-size: 20px;
    margin: 0;
    background-color: var(--dark-bordeaux);
    font-family: 'Raleway', sans-serif;
    overflow-y: scroll;
}
/* -------------------------------------------------
            scrollbar settings
------------------------------------------------- */
body::-webkit-scrollbar {
    width: 1em;
}
body::-webkit-scrollbar-track {
    background-color: var(--dark-brown);
}
body::-webkit-scrollbar-track-piece {
    background-color: var(--dark-brown);
}
body::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    background-color: var(--bright-bordeaux);
}
body::-webkit-scrollbar-button {
    height: 0;
}
#autocomplete-list::-webkit-scrollbar {
    width: 1em;
}
#autocomplete-list::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    background-color: var(--dark-brown);
}
#autocomplete-list::-webkit-scrollbar-track-piece {
    -webkit-border-radius: 10px;
    background-color: var(--dark-brown);
}
#autocomplete-list::-webkit-scrollbar-thumb {
    background-color: var(--bright-bordeaux);
    -webkit-border-radius: 5px;
}
#autocomplete-list::-webkit-scrollbar-button {
    height: 0;
}
/* -------------------------------------------------
            header of the page
------------------------------------------------- */
header {
    background-color: var(--dark-brown);
    position: sticky;
    top: 0;
    height: 4.4em;
}
#logo {
    display: inline-block;
    height: inherit;
    line-height: inherit;
    padding-left: 1%;
    width: 400px;
    color: var(--bright);
}
#logo-main-title {
    display: inline-block;
    margin: 0;
    padding: 0.5% 1% 0 0.5%;
    width: fit-content;
    font-size: 60px;
    font-family: 'Shadows Into Light', cursive;
}
#logo-sub-title {
    display: inline-block;
    margin: 0;
    padding: 1.5%;
    font-size: 20px;
    font-family: 'Dancing Script', cursive;
}
nav {
    display: flex;
    flex-direction: row-reverse;
    flex-grow: inherit;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: inherit;
    float:right;
}
a {
    -webkit-user-drag: none;
}
nav a {
    color: var(--bright);
    text-decoration: none;
    height: inherit;
    line-height: inherit;
    width: inherit;
    text-align: center;
    padding-top: 8%;
    padding-bottom: 8%;
}
nav a:hover {
    background-color: var(--bright-bordeaux);
    color: var(--bright);
}
/* -------------------------------------------------
            all related to the search
------------------------------------------------- */
#search-options {
    font-size: 1.5em;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    color: var(--bright);
    padding-right: 5%;
}
.search-option {
    font-size: 0.7em;
    background-color: transparent;
    border-bottom-width: 3px;
    border-color: transparent;
    color: var(--bright)
}
.search-option:hover {
    cursor: pointer;
    border-bottom-color: #eeebdd;
}
.search-option:focus {
    outline: none;
}
.chosenSearchOption {
    outline: none;
    border-bottom-color: #eeebdd;
}
.search-option:active {
    transform:scale(0.95,0.95);
    -webkit-transform:scale(0.95,0.95);
    -moz-transform:scale(0.95,0.95);
}
#search {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
    margin-right: 25%;
    margin-left: 25%;
    height: 200px;
}
.autocomplete {
    position: relative;
    display: inline-block;
}
input {
    border-radius: 10px;
    color: #fbf7f0;
    font-size: 16px;
    margin-right: 10px;
    margin-left: 10px;
}
input:focus {
    outline: none;
}
input[type=text] {
    border: 1px solid var(--bright);
    background-color: var(--dark-brown);
    width: inherit;
    padding: 10px;
}
#autocomplete {
    flex-grow: 2;
    width: 100%;
    margin-right: 10px;
    margin-left: 10px;
}
input[type=button] {
    border: 1px solid var(--bright);
    background-color: var(--bright-bordeaux);
    font-family: 'Raleway', sans-serif;
    color: var(--bright);
    flex-grow: 1;
    padding: 10px;
}
input[type=button]:hover {
    transform:scale(1.05,1.05);
    -webkit-transform:scale(1.05,1.05);
    -moz-transform:scale(1.05,1.05);
    cursor: pointer;
}
input[type=button]:active {
    transform:scale(0.95,0.95);
    -webkit-transform:scale(0.95,0.95);
    -moz-transform:scale(0.95,0.95);
}
#autocomplete-list {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    width: inherit;
    max-height: 200px;
    overflow-y: auto;
    border-radius: 10px;
    border: 1px solid var(--bright);
    border-top: none;
    border-bottom: none;
    background-color: var(--dark-brown);
    z-index: 99;
    color: #bf2828;
}
#autocomplete-list div {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid var(--bright);
    border-radius: 10px;
}
#autocomplete-list div:hover {
    /*when hovering an item:*/
    color: var(--bright);
}
.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    color: var(--bright);
}
/* -------------------------------------------------
            table of content
------------------------------------------------- */
#table-container {
    display: flex;
    justify-content: center;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 5%;
    min-height: 200px;
}
table {
    margin: 5px;
    color: var(--bright);
    width:100%;
    border-spacing: 5px;
}
th {
    background-color: var(--bright-bordeaux);
    text-align: center;
    box-shadow: 2px 7px #1b1717;
}
th, td {
    padding: 15px;
    margin: 5px;
}
#title{
    width: 40%
}