* { box-sizing: border-box; }
.noSelect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
body {
    font-size: 16px;
    margin: 0;
    background-color: #630000;
    font-family: 'Raleway', sans-serif;
}
header {
    background-color: #1b1717;
    position: sticky;
    height: 4em;
}
#logo {
    display: inline-block;
    height: inherit;
    line-height: inherit;
    padding-bottom: 1.5%;
    padding-top: 1.5%;
    padding-left: 1.5%;
    color: #e9e9e9;
    font-size: x-large;
}
nav {
    display: flex;
    flex-direction: row-reverse;
    flex-grow: inherit;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: inherit;
    float:right;
}
a {
    -webkit-user-drag: none;
}
nav a {
    color: #eeebdd;
    text-decoration: none;
    height: inherit;
    line-height: inherit;
    width: inherit;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}
nav a:hover {
    background-color: #810000;
    color: #eeebdd;
}
#search {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 5%;
    margin-right: 30%;
    margin-left: 30%;
}
.autocomplete {
    position: relative;
    display: inline-block;
}
input {
    border-radius: 10px;
    color: #fbf7f0;
    font-size: 16px;
    margin-right: 10px;
    margin-left: 10px;
}
input:focus {
    outline: none;
}
input[type=text] {
    border: 1px solid #eeebdd;
    background-color: #630000;
    width: inherit;
    padding: 10px;
}
#autocomplete {
    flex-grow: 2;
    width: 100%;
    margin-right: 10px;
    margin-left: 10px;
}
input[type=button] {
    border: 1px solid #eeebdd;
    background-color: #810000;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    flex-grow: 1;
    padding: 10px;
}
input[type=button]:hover {
    transform:scale(1.05,1.05);
    -webkit-transform:scale(1.05,1.05);
    -moz-transform:scale(1.05,1.05);
    cursor: pointer;
}
input[type=button]:active {
    transform:scale(0.95,0.95);
    -webkit-transform:scale(0.95,0.95);
    -moz-transform:scale(0.95,0.95);
}
#autocomplete-list {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    width: inherit;
    border-radius: 10px;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    background-color: #fff;
    z-index: 99;
}
#autocomplete-list div {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #d4d4d4;
    border-radius: 10px;
}
#autocomplete-list div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}
.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}