.App {
  min-height: 100vh;
  text-align: center;
  background-color: #c6d5f5;
  color: white;
  font-size: calc(10px + 2vmin);
  margin:0;
}

.App-header {
  position: -webkit-sticky;
  position: sticky;
  top:0;
  z-index: 99;
}

#table-section {
  margin-top: 10%;
  outline: none;
}
