.nav-header {
    font-size: calc(8px + 2vmin);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navbar-nav {
    margin-right:0!important;
}

.navbar-brand {
    font-family: 'Poppins', sans-serif;
    font-size: calc(12px + 5vmin);
}

.navbar-brand > small {
    font-size: 12px ;
}