button:focus {
    outline: none;
}

#tags-standard {
    color: #ffffff;
}

.search-field-container {
    display: flex;
    justify-content: center;
}

.tabpanel{
    background-color: transparent;
}

#field-container {
    margin-top: 5%;
}